.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.margin {
  margin: 8px;
}

input[type=text] {
  width: 60%;
}

hr {
  border: 0;
  border-top: 0.1px solid var(--secondary-color);
}

.product {
  display: flex;
  height: 60px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin: 8px 0;
}

.image {
  width: 60px;
  background-color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 25px;
  color: var(--secondary-color);
}

.buttons > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid var(--secondary-color);
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 0 10px;
  width: auto;
}

.applyButton {
  background-color: var(--enabled-color);
  color: white;
  border-radius: 8px;
  width: 30%;
}
