.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 960px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.name {
  font-size: 1rem;
  font-weight: bold;
}

.header {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  justify-content: center;
  color: white;
}
