.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
  align-items: flex-start;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.theme {
  --primary-color: #ecf0f1;
  --secondary-color: #033e8c;
  --enabled-color: #d91a1a;
  --disabled-color: #bdc3c7;
  --borders-color: #999999;
  --image-color: #999999;
}
