.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
  align-items: start;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.theme {
  --primary-color: #ecf0f1;
  --secondary-color: #bdc3c7;
  --enabled-color: #000000;
  --disabled-color: #bdc3c7;
}
